*{
    font-family: "montserrat", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #acd0d4;
}

.container{
    margin: auto;
    display: grid;
    grid-template-columns: 0.33fr 1fr;
    width: 210mm;
    height: 250mm;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
}

.container .card-one {
    padding: 40px 20px;
    padding-left: 35px;
    background-color: #d1d1d1;
    width: 100%;
    color: #313131;
}

.container .card-one .profile {
    display: inline-flex;
    margin-bottom: 5px;
    margin-left: -15px;
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 4px solid #2c2b29;
    background-image: url("img.jpg");
    background-position: center top;
    background-size: 100%;
}

.container .card-one .contect-box { 
    margin-top: 10px;
}

.container .card-one .contect-box>* {
    width: 100%;
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    margin-top: 25px;
    align-items: center;
}

.container .card-one .contect-box>* .text {
    display: inline-flex;
    word-break: break-all;
}

.container .card-one .personal-box {
    margin-top: 35px;
}

.container .card-one .personal-box .dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #313131;
    border-radius: 50%;
    margin-left: 4px;
}

.container .card-one .personal-box .dot.active {
    background-color: #b89258 ;
} 

.container .card-one .hobbies-box {
    margin-top: 35px;
}

.container .card-one .hobbies-box .logo {
    margin: 10px 0px;
    display: grid;
    grid-template: 1fr 1fr/1fr 1fr;
    font-size: 2.8em;
    grid-row-gap: 15px;
}

.container .card-two {
    background-color: #173c62;
    padding: 40px 20px;
    padding-right: 75px;
    color: #b5b5b4;
}

.container .card-two .head-title {
    font-size: 2.1em;
    color: #b89258;
    font-weight: 400;
}
 
.container .card-two .box {
    display: inline-block;
    padding: 2px 70px 2px 20px;
    margin-left: -20px;
    margin-top: 35px;
    background-color: #b89258;
    color: #2c2b29;
}

.container .card-two .group-1 .desc {
    margin-top: 15px;
    line-height: 1.5;
}

.container .card-two .group-2 .desc {
    margin-top: 15px;
    margin-left: 20px;
}

.container .card-two .group-2 .desc ul {
    position: relative;
    margin-top: 20px;
    margin-left: 5px;
}

.container .card-two .group-2 .desc ul::before {
    content: "";
    position: absolute;
    top: 12px;
    left: -22px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #b89258;
}

.container .card-two .group-2 .desc ul li {
    list-style-type: none;
    position: relative;
}

.container .card-two .group-2 .desc ul li::before {
    content: "";
    position: absolute;
    top: 20px;
    left: -18px;
    height: 50px;
    border-left: 2px solid #b89258;
}

.container .card-two .group-2 .desc ul:last-of-type li::before {
    content: none;
}

.container .card-two .group-2 .desc ul li div:last-of-type {
    color: #b89258;
    font-weight: bold;
}

.container .card-two .group-3 .desc {
    margin-top: 15px;
    margin-left: 20px;
}

.container .card-two .group-3 .desc ul {
    position: relative;
    margin-top: 20px;
    margin-left: 5px;
}

.container .card-two .group-3 .desc ul::before {
    content: "";
    position: absolute;
    top: 30px;
    left: -22px;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    background-color: #b89258;
}

.container .card-two .group-3 .desc ul li {
    list-style-type: none;
    position: relative;
}

.container .card-two .group-3 .desc ul li::before {
    content: "";
    position: absolute;
    border-left: 2px solid #b89258;
}

.container .card-two .group-3 ul li div:nth-child(2) {
    color: #b89258;
    font-weight: bold;
}

@media print {
    @page {
        margin: 0;
        size: A4;
    }

    *{
        -webkit-print-color-adjust: exact;
    }
}